*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif;
}
.navbar{
    display: flex;
    -ms-display: flex;
    align-items: center;
    padding:20px;
}
nav{
    flex:1;/*this will make our nav links appear on the right place*/
    -ms-flex:1;
    text-align: right;
    z-index: 20;/*to make it appear on in front other elements*/
}
nav ul{
    list-style-type: none;
}
nav ul li{/*making the list items horizontal*/
    display: inline-block;
    -ms-display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color:#555;
}
p{
    color:#555;
}
.footer-col-3, .footer-col-4 li{
    color:#555; 
}
.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    -ms-display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    -ms-align-items: center;
    -ms-flex-wrap: wrap;
    -ms-justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    -ms-flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    -ms-display: inline-block;
    background: #ff523B;
    color: #FFF;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
header{
    background: radial-gradient(#fff, #ffd6d6);
}
header .row{
    margin top: 70px;
}
.categories{
    margin:70px 0;
}
.col-3{
    flex-basis: 30%;
    -ms-flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width:100%;/*this will make some margin between the 3 imgs*/
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    -ms-flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title:after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
}
h4{
    color:#555;
    font-weight: normal;
}
.col-4{
    font-size: 14px;
}
.col-4:hover{
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);/*this will move the imgs upword a little*/
}
.rating .fa{
    color: #ff523b;
}
/*Offer*/
.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col .offer-img{
    padding: 50px;
}
small{
    color: #555;
}

/*Testimonial*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{/*this will center the images*/
    text-align: center;/*this will center the images*/
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
}
.fa .fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: bold;
    color: #555;
    font-size: 16px;
}

/*-----------Brands/*-----------*/

.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}
.col-5 img:hover{
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
}

/*----------Footer--------*/
.footer{
    background: #000;
    color: white !important;
    font-size: 14px;
    padding: 60px 0 20px;  
}
.footer p{
    color: #fff; 
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1 a, .footer-col-2 a, .footer-col-3 a , .footer-col-4 a{
    color:#e0ece8;
}
.footer-col-1 a:hover, .footer-col-2 a:hover, .footer-col-3 a:hover , .footer-col-4 a:hover{
    color:#ff523B;
}


.footer-col-1{
    flex-basis: 30;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px ;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}
.app-logo img:hover{
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
}



.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    height: 28px;
    margin-left: 20px;
    display: none;
}
/*-------------media query-----------*/
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        -webkit-transition: max-height 0.5s;
        -moz-transition: max-height 0.5s;/*transition period whe menu icon is clicked to open menu*/
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;/*white*/
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
/*------Contact page-----*/
.form-control {
    width: 100% !important;
}
textarea{
    width: 100% !important;
}

}


/*-------------all products page-------------*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;/*this will remove the colored border when you select*/
}

/*------------*page buton---------*/
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover {
    background: #ff523b;
    color: #fff;
}

/*----------single product details-----------*/
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;/*this will add some padding between the two col-2 divs*/
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;/*this will make select in a single row before number and btn */
    padding: 10px;
    margin-top: 20px;
}

.single-product input{    
    width: 50px;
    height: 40px;
    padding-left: 10px;/*this will add padding before the number inside input*/
    font-size: 20px;
    margin-right: 10px;/*this will add margin  between the input and the btn*/
    border: 1px solid #ff523b;
}
.single-product input:focus{
    outline: none;
}
.single-product
.fa-indent{
    color:#ff523b;
    margin-left: 10px;
}

.small-img-row{
    display: flex;/*this will make the img aligned on the same row*/
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;/*we have 4 imgs in this row */
    cursor: pointer;
}

/*----------Cart PAGE--------*/
.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    padding: 5px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 1px solid #ff523b;
    width: 100%;
    max-width: 400px;
}
/*-----algining the last columns prices coloumns -------*/
th:last-child{
    text-align: right;
}
td:last-child{
    text-align: right;
}

/*-------account page--------------*/
.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;/*this will make login in form visible only when clicked */
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
}
#RegForm{
    left: 0;
}

.form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    height: 3px;
    background: #ff523b;
    border: none;
    margin-top: 8px;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
        /*this will move indicating the active form*/
}












/*------- for less than 600px screens------*/
@media only screen and (max-width: 600px){
    
    .row{
        text-align: center;
    }
    .col-2, col-3, .col-4{
        flex-basis: 100%;
    }
    /*----product detail page on mobile phones---*/
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 24px;
        line-height: 22px;
    }
    
    .cart-info p{
        display: none; /* this will hide product name on small screens*/
    }

    
    
    
}

/*------Contact page-----*/

.form-control {
    width: 349px;
    height: 40px !important;
    padding: 8px 20px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #000;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control {
    font-size: 14px;
    line-height: 1.78;
    color: #555;
}


textarea {
    width: 349px;
    height: 92.72px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #000;
}
#contactBtn{
        background: #ff523B;
        color: #FFF;
        padding: 8px 30px;
        margin: 30px 0;
        border-radius: 30px;
        transition: background 0.5s;
        -webkit-transition: background 0.5s;
        -moz-transition: background 0.5s;
}
#contactBtn:hover{
    background: #563434;
}
/******About Page******/
.main {
    margin-top: 25px;
}
.main h1{
    padding-bottom: 10px !important;
    font-size: 40px !important;
}
.main p{
    padding-bottom: 25px;
    line-height: 24px;
}
.main h3{
    padding-bottom: 10px !important;
}

/***********Contact page************/

#contactBtn{
    width:92.5px !important;
    border: none;
}






